name: docs
on:
  push:
    branches:
    - main
    paths:
    - index.js
    - lib/*.js
jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '14'
          cache: 'npm'
      - run: npm ci --no-audit
      - run: npm run docs
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./docs/api.md
          git commit -m "docs: update documentation"
          git push origin HEAD:main
